[user]
	email = tachibanayu24@gmail.com
	name = Yuto Tachibana

[core]
	editor = nvim
	autocrlf = input
	quotepath = false

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	tree = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative

[diff]
	colorMoved = default

[merge]
	conflictStyle = diff3
